/* https://www.w3schools.com/css/css_grid.asp */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* https://hexcolor.co/hex/009f03 */
/* Gree square color triad */

body {
    background-color: #9FFFFF;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.next {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 23px;
    padding-bottom: 10px;
}

.nextDisc {
    width: 60px;
    height: 60px;
    background-color: #29C82C;
    border: 4px outset #9F0300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextName {
    color: #03009F;
}

.board {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows:    60px 60px 60px 60px 60px 60px 60px 60px;
    border: 10px outset #9F0300;
}

.square {
    border: 2px inset #9F0300;
    background-color: #009F03;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 80%;
}
